*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.top_two{
  display: flex;
  column-gap: 10px;
}

.left{
  width: 50vw;
  width: calc(100vw - 480px);
  height: 60vh;
  border: 2px dashed black;
  position: relative;
}

#playBtn{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#cutBtn{
  position: absolute;
  right: 100px;
  bottom: 0;
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.right{
  width: 550px;
  height: 60vh;
  border: 2px dashed black;
  background-color: black;
}

.video_preview{
  height: 100%;
  width: 100%;
}

.bottom{
  height: calc(40vh - 10px);
  border: 2px dashed black;
  display: flex;
  align-items: center;
  position: relative;
  cursor:crosshair;
  width: 100vw;
  overflow-x: auto;
}

.add_file_screen{
  position: absolute;
  background-color: rgb(247, 161, 161);
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.addFileBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 2rem;
  font-family: sans-serif;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.705);
  background-color: rgb(241, 111, 111);
  color: ghostwhite;
  text-transform: uppercase;
  transition: .3s;
  position: relative;
}


.addFileBtn:hover{
  box-shadow: 0px 0px 10px rgba(221, 74, 74, 0.753);
  transition: .3s;
}


.fileIcon{
  width: 50px;
  height: 50px;
}


.fileInput{
  position: absolute;
  width: 100%;
  background-color: green;
  height: 100%;
  border-radius: 50px;
  opacity: 0;
  cursor: pointer;
}

.video_block{
  border-radius: 5px;
  height: 100px;
  border: 5px dashed rgba(0, 0, 0, 0.795);
  cursor: grab;
  user-select: none;
  background-color: rgba(155, 153, 153, 0.452);
  position: absolute;
  left: 0;
  top: 50px;
}

.time-block {
  min-width: 30px; /* This width represents 1 second in your timeline */
  height: 100%;
  border-left: 1px solid #ccc;
  position: relative;
  text-align: center;
  font-size: 12px;
}

.time-block::before {
  content: attr(data-time); /* Display the time in seconds */
  position: absolute;
  top: 10px; /* Above the block */
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 1.2rem;
}

.animateScrub{
  animation-name: move;
  /* animation-duration: 30s; */
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: darkgoldenrod;
  z-index: 10;
  display: block;
}

@keyframes move{
  from{
    left: 0;
  }
  to{
    left: 100%;
  }
}